GATEWAY_PORT=8000
SERVER_HOST=localhost
CONSUL_ADDRESS=localhost:8500
ROUTE_MAPPINGS=/api/v1/telemetry/:eco-monitoring-ingestion,/api/v1/analysis/:eco-monitoring-analysis
LOGSTASH_TCP_DESTINATION=localhost:6001
LOG_LEVEL=INFO